<div id="{{ block.id|slice(1)|replace({'/' : '-'}) }}{{ idSuffix|default('') }}" class="block-editable" data-url="{{ path('_mssimi_block_inline_edit', {'id' : block.id }) }}">
    {{ block.content|raw }}
</div>