{% if is_granted('ROLE_CMS') %}
<div class="editable-block">
{% endif %}
    {{ knp_menu_render(menu, {'template': template }) }}
{% if is_granted('ROLE_CMS') %}
    <a class="editable-button" target="_blank" href="{{ path('mssimi_menu_item_index', {'id': menu}) }}">{{ ('common.edit')|trans }}</a>
</div>
{% endif %}